*{
    padding: 0%;
    margin: 0%;
}

.signin{
    display: flex;
    height: 100vh;
    width: auto;
   
    align-items: center;
    justify-content:center;
   
    flex-direction: row;
    
 }
 .border-primary{
    border:1px solid #d8510e !important;
 }